<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">🌍 Travel Manager</a>

    <!-- Botón hamburguesa -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú que se colapsa -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item"><a class="nav-link text-white" routerLink="/profile">Profile</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/trips">Trips</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/expenses">Expenses</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/memories">Memories</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/login">Log Out</a></li>Ñ
      </ul>
    </div>
  </div>
</nav>
